<div class="col-md-3 recipe-section">
    <img src="https://imagesvc.meredithcorp.io/v3/mm/image?url=https%3A%2F%2Fimages.media-allrecipes.com%2Fuserphotos%2F1153504.jpg&w=596&h=399&c=sc&poi=face&q=85"
        alt="">
    <h4 class="name-dish">{{nameDish}}</h4>
    <p class="date">{{date}}</p>
    <ul class="stat-recipe">
        <li class="duration"><i class="fa fa-clock-o" aria-hidden="true"></i><span class="hour"></span> <span
                class="mins">{{duration}}</span></li>
        <li class="complex"> <i class="fa fa-bolt" aria-hidden="true"></i> {{complex}} </li>
        <li class="serving"> <i class="fa fa-user" aria-hidden="true"></i> {{serving}} people(s)</li>
    </ul>
    <button type="button" class="btn btn-secondary btn-lg explore">Explore now</button>
</div>